<span style="white-space:nowrap; text-overflow:ellipsis; overflow-x:hidden">
  <v-blockies :seed="pkh" :size="pr.size_bl" :scale="pr.scale_bl" class="rounded-circle mr-1" :class="pr.blockies_cl" v-if="pr.sh_blockies" :style="'width:' + pr.w_blockies + 'px'">
  </v-blockies>
  <span :class="pr.hash_cl" :style="'font-size:' + pr.w_hash + 'px'">
    {{ pkh }}
  </span>
</span>
