<div :class="get_bg_text('swaps-center')">

  <div class="d-flex justify-content-between">
    <div></div>
    <h3>
      Swaps
      <b-badge
        v-b-modal.modal-swaps href="#" variant="info" class="small align-top">
        ?
      </b-badge>
    </h3>

    <b-button
      size="sm"
      class="my-2 my-sm-0 border-0 mr-1"
      :variant="get_outline()"
      @click="refresh_swaps()"
      style="font-size: 18px">
      <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" class="bi bi-arrow-clockwise" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M8 3a5 5 0 1 0 4.546 2.914.5.5 0 0 1 .908-.417A6 6 0 1 1 8 2v1z"/>
        <path d="M8 4.466V.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384L8.41 4.658A.25.25 0 0 1 8 4.466z"/>
      </svg>
    </b-button>
  </div>


  <div v-if="isMetalReady || form.dn1Submitted">
    <template v-if="!swaps.length">
      <b-alert show>No swaps found for this account</b-alert>
    </template>
    <template v-else>
      <table :class="get_table_class('table table-striped')">
        <!-- :items="swaps" -->
        <!-- :fields="['swapId', 'dunAmount', 'confirmations', 'status']" -->
        <thead>
          <th>Id</th>
          <th>Amount</th>
          <th>Amount</th>
          <th>Dune Status</th>
          <th>Deposit</th>
          <th>FT Status</th>
          <th>FT Contract</th>
          <th>Destination</th>
          <th>Expiration</th>
          <th>Action</th>
        </thead>
        <tbody>
          <tr v-for="swap in swaps">
            <td class="align-middle">{{swap.swapId}}</td>
            <td class="align-middle"><v-dun precision="2" :amount="swap.dunAmount"></v-dun></td>
            <td class="align-middle"><v-ton precision="2" :amount="swap.tonAmount"></v-ton></td>
            <td class="align-middle">
              <b-badge
                v-if="swap.duneStatus=='submitted' ||
                      swap.duneStatus=='refund asked' ||
                      swap.duneStatus=='can reveal'"
                pill
                variant="warning">
                {{swap.duneStatus}}
              </b-badge>
              <b-badge
                v-if="swap.duneStatus=='confirmed' ||
                      swap.duneStatus=='refunded' ||
                      swap.duneStatus=='completed'"
                pill
                variant="success">
                {{swap.duneStatus}}
              </b-badge>
              <b-badge
                v-if="swap.duneStatus=='expired'"
                pill
                variant="danger">
                {{swap.duneStatus}}
              </b-badge>
            </td>
            <td class="align-middle">
              <v-op-link :op="ops.find(op => op.swapId == swap.swapId)"></v-op-link>
            </td>
            <td class="align-middle">
              <b-badge
                v-if="swap.tonStatus=='waiting for confirmation' ||
                      swap.tonStatus=='waiting for credit' ||
                      swap.tonStatus=='waiting for depool'"
                pill
                variant="warning">
                {{swap.tonStatus}}
              </b-badge>
              <b-badge
                v-if="swap.tonStatus=='fully confirmed' ||
                      swap.tonStatus=='revealed' ||
                      swap.tonStatus=='transferred' ||
                      swap.tonStatus=='credited' ||
                      swap.tonStatus=='revelation failed'"
                pill
                variant="success">
                {{swap.tonStatus}}
              </b-badge>
              <b-badge
                v-if="swap.tonStatus=='depool denied' ||
                      swap.tonStatus=='credit denied' ||
                      swap.tonStatus=='cancelled'"
                pill
                variant="danger">
                {{swap.tonStatus}}
              </b-badge>
            </td>
            <td class="align-middle">
              <v-ton-link :op="ops.find(op => op.swapId == swap.swapId)"></v-ton-link>
            </td>
            <td class="align-middle">
              <a target="_blank" :href="make_contract_link(swap)">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-link" viewBox="0 0 16 16">
                  <path d="M6.354 5.5H4a3 3 0 0 0 0 6h3a3 3 0 0 0 2.83-4H9c-.086 0-.17.01-.25.031A2 2 0 0 1 7 10.5H4a2 2 0 1 1 0-4h1.535c.218-.376.495-.714.82-1z"/>
                  <path d="M9 5.5a3 3 0 0 0-2.83 4h1.098A2 2 0 0 1 9 6.5h3a2 2 0 1 1 0 4h-1.535a4.02 4.02 0 0 1-.82 1H12a3 3 0 1 0 0-6H9z"/>
                </svg>
              </a>
            </td>
            <td class="align-middle">{{new Date(swap.time * 1000 + storage.swapSpan * 2000).toLocaleString()}}</td>
            <td class="align-middle">
              <b-button
                v-if="swap.tonStatus=='credited'
                      || swap.tonStatus=='revelation failed'"
                @click="make_reveal(swap)"
                size="sm"
                variant="primary">
                Reveal Secret
              </b-button>
              <b-button
                v-if="swap.tonStatus=='cancelled' && swap.duneStatus=='expired'"
                @click="get_refund(swap)"
                size="sm"
                variant="danger">
                Refund
              </b-button>
            </td>
          </tr>
        </tbody>
      </table>
    </template>
  </div>

  <div v-else>
    <form>
      <div class="form-group border border-info">
        <label class="w-100 text-center" for="toAddr">Dune Address</label>
        <b-form-input
          v-model="form.dn1"
          type="text"
          size="lg"
          :class="get_bg('form-control border-0')"
          id="toAddr"
          placeholder="dn1...">
        </b-form-input>
      </div>

      <div class="d-flex flex-column justify-content-around">
        <b-button
          pill
          :disabled="injected!=undefined"
          size="lg"
          class="my-2 my-sm-0 p-3 flex-fill"
          @click="submit_dn1"
          variant="primary">
          Submit dn1
        </b-button>
        <span class="flex-fill text-center my-1">or</span>
        <b-button
          pill
          size="lg"
          class="flex-fill my-2 my-sm-0 p-3"
          :variant="get_outline()"
          @click="update_metal">
          Connect Metal
        </b-button>
      </div>

    </form>

  </div>
  <b-modal
    :header-bg-variant="get_variant()"
    :header-text-variant="get_text('')"
    :body-bg-variant="get_variant()"
    :body-text-variant="get_text('')"
    :footer-bg-variant="get_variant()"
    :footer-text-variant="get_text('')"
    id="modal-swaps"
    title="Swaps">
    <p>Swap status on Dune Network chain</p>
    <ul>
      <li class="font-weight-bold">submitted</li>
      <p class="ml-3">swap order has been submitted on chain</p>
      <li class="font-weight-bold">confirmed</li>
      <p class="ml-3">swap order has confirmed by 10 blocks (approximatively 10 minutes)</p>
      <li class="font-weight-bold">can reveal</li>
      <p class="ml-3">swap order is waiting for the secret to be revealed on FreeTON</p>
      <li class="font-weight-bold">completed</li>
      <p class="ml-3">DUN tokens have been burnt after swap completion</p>
      <li class="font-weight-bold">expired</li>
      <p class="ml-3">swap order expired on Free TON</p>
      <li class="font-weight-bold">refund asked</li>
      <p class="ml-3">refund has been asked</p>
      <li class="font-weight-bold">refunded</li>
      <p class="ml-3">refund has been confirmed</p>
    </ul>

    <p>Swap status on Free TON chain</p>
    <ul>
      <li class="font-weight-bold">waiting for confirmation</li>
      <p class="ml-3">waiting for confirmation by several relays</p>
      <li class="font-weight-bold">fully confirmed</li>
      <p class="ml-3">swap was observed and confirmed by enough relays</p>
      <li class="font-weight-bold">waiting for credit</li>
      <p class="ml-3">waiting to receive tokens for the swap from giver</p>
      <li class="font-weight-bold">credit denied</li>
      <p class="ml-3">giver has not enough tokens for this swap</p>
      <li class="font-weight-bold">credited</li>
      <p class="ml-3">tokens are ready for transfer to your account, revelation is possible</p>
      <li class="font-weight-bold">revealed</li>
      <p class="ml-3">revelation succeeded</p>
      <!-- <li class="font-weight-bold">waiting for depool</li> -->
      <!-- <p class="ml-3"> -->
      <!-- </p> -->
      <!-- <li class="font-weight-bold">depool denied</li> -->
      <!-- <p class="ml-3"> -->
      <!-- </p> -->
      <li class="font-weight-bold">transferred</li>
      <p class="ml-3">tokens have been transferred to your account, swap successful</p>
      <li class="font-weight-bold">revelation failed</li>
      <p class="ml-3">revealed secret was incorrect</p>
      <li class="font-weight-bold">revelation blocked</li>
      <p class="ml-3">maximal number of revelations done, swap will be cancelled</p>
      <li class="font-weight-bold">cancelled</li>
      <p class="ml-3">
      </p>
    </ul>

  </b-modal>

</div>
