<div class="form-group border border-info">
  <h3 class="text-center">Swap {{ currentSwap.swapId }}</h3>
  <div class="d-flex justify-content-between mt-3">
    <v-dun class="text-danger" precision="2" :amount="currentSwap.dunAmount" style="flex: 1 1 0px ;"></v-dun>
    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" class="bi bi-arrow-left-right" viewBox="0 0 16 16" style="flex: 1 1 0px ;">
      <path fill-rule="evenodd" d="M1 11.5a.5.5 0 0 0 .5.5h11.793l-3.147 3.146a.5.5 0 0 0 .708.708l4-4a.5.5 0 0 0 0-.708l-4-4a.5.5 0 0 0-.708.708L13.293 11H1.5a.5.5 0 0 0-.5.5zm14-7a.5.5 0 0 1-.5.5H2.707l3.147 3.146a.5.5 0 1 1-.708.708l-4-4a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 4H14.5a.5.5 0 0 1 .5.5z"/>
    </svg>
    <v-ton
      class="text-success text-right"
      style="flex: 1 1 0px ;"
      precision="2"
      :amount="currentSwap.tonAmount">
    </v-ton>
  </div>
  <div class="d-flex flex-column align-items-center mt-4">
    <span>Refund Address</span>
    <b class="mw-100 overflow-hidden">{{currentSwap.refundAddress}}</b>
  </div>
  <div class="d-flex flex-column align-items-center mt-3">
    <span>FreeTON Address</span>
    <b class="mw-100 overflow-hidden">{{currentSwap.freetonAddress}}</b>
  </div>
  <div class="text-warning text-right mt-3 small">
    <span>
      Expiration
      {{new Date(currentSwap.time * 1000 + storage.swapSpan * 1000).toLocaleString()}}
    </span>
  </div>
</div>
