<span>
  <span v-if="pp.undef" :title="undef_title" :class="undef_class">--</span>
  <span v-else :class="dun_cl">
    <span :class="unit_cl">{{ pp.int }}</span>
    <span :class="dec_cl">{{ pp.dec }}</span>
    <span> {{ pp.icon }}</span>
  </span>
</span>
